<!-- this is the about page -->
{% extends "base.html" %}

{% block content %}
<div>
    <div class="menu-title">about typefighters</div>
    <div style="max-width: 500px; text-align: left;">
        <p>typefighters is a multi-mode typing game focused on speed, accuracy, rhythm, and adaptability.</p>
        <p>to play, enter your name, choose a mode, then type <b>start</b> to begin.</p>
        <p>the game captures typing telemetry (dwell, flight, errors, pauses, speed) to be used for analytics and machine learning experiments.</p>
        <br><p>developed by dela cruz, charles arvin p. for coe 005a - advance machine learning and deep learning</p>
        <a class="menu-link" href="{{ url_for('menu') }}">back to menu</a>
    </div>
</div>
{% endblock %}
