<!-- this is the about page -->
{% extends "base.html" %}

{% block content %}
<div>
    <div class="menu-title">about type it paster</div>
    <div style="max-width: 500px; text-align: left;">
        <p>type it paster is a typing game. type words as fast and accurately as you can.</p><br>
        <p>developed by dela cruz, charles arvin p. for coe 003 - computational thinking with python</p>
        <p>to play, type your name and then type <b>start</b> to begin. type the word shown below as quickly as possible. if you make a mistake, the game ends immediately. try to get the highest score you can!</p>
        <button class="menu-link" onclick="window.location.href='{{ url_for('index') }}'">back to menu</button>
    </div>
</div>
{% endblock %}